<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10163a;">
    <div class="container">
        <a class="navbar-brand" href="/home">FMCARDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards?page=1">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
            </ul>
            <div class="dropdown show" style="background-color: rgb(115,103,240);border-radius:8px;">
                <a class="btn text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHBCdp3pC3pfCn0T-_5vmOEJtaX_YVCGCFdw&usqp=CAU"
                        alt="" style="width:28px;height:28px;border-radius:50%;" class="mr-1">
                    Username
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/auth">Sign in</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>

                </div>
            </div>
        </div>
    </div>
</nav>